{% extends 'template.html.twig' %}

{% block title %}Salut Todo!{% endblock %}

{% block body %}

<h1>test</h1>
{{ include('fragments/date-jour.html.twig')}}



		<h1>Liste des todos</h1>
		<ul class="list-group">
			{% for name,content in app.session.get('todos') %}
				<li class="list-group-item">
					{{name}}
					:
					{{content}}
				</li>
			
		{% endfor %}
</ul>

{% endblock %}


